header {
background-color: darkgray;
height: 100px;
margin-bottom:30px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  float: left;
  margin-top: 15px;
}

header ul {
display: flex;
justify-content: space-evenly;
}

header ul li {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #777;
}

main {
  width: 960px;
  margin:auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  margin-bottom: 30px;
}

section div {
  width: calc(50% - 30px);
  padding-left: 30px;
}